body {
  font-family: 'Open Sans', sans-serif;
  }
  
  div#layout {
	text-align: center;
  }
  
  div#container {
	width: 1000px;
	height: 600px;
	margin: auto;
	background-color: rgb(10, 36, 71);
  }
  
  svg {
	width: 100%;
	height: 100%;
  }
  
  .bar {
	fill: #62b9b1;
  }
  
  text {
	font-size: 12px;
	fill: #fff;
  }
  
  path {
	stroke: gray;
  }
  
  line {
	stroke: gray;
  }
  
  line#limit {
	stroke: White;
	stroke-width: 3;
	stroke-dasharray: 3 6;
  }
  
  .grid path {
	stroke-width: 0;
  }
  
  .grid .tick line {
	stroke: #9FAAAE;
	stroke-opacity: 0.3;
  }
  
  text.divergence {
	font-size: 14px;
	fill: rgb(24, 44, 70);
  }
  
  text.value {
	font-size: 14px;
  }
  
  text.title {
	font-size: 22px;
	font-weight: 600;
  }
  
  text.label {
	font-size: 14px;
	font-weight: 400;
  }
  
  text.source {
	font-size: 10px;
  }

  .tooltip {
  position: absolute;
    opacity: 0;
    /* top: -12px; */
    margin-top: 3em;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
  } 

  div {
    display: block;
}
.tooltip:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltip-bar{
margin-bottom: 0.5em;
    position: relative;
    width: 100%;
    height: 0.6em;
    background: #eaeaea;
}

.tooltip-range {
  margin-bottom: 0.2em;
  font-weight: 600;
}
.tooltip-examples {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  max-width: 25em;
  font-size: 0.7em;
  line-height: 1.3;
  font-weight: 300;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip-value {
  margin-bottom: 0.2em;
  font-size: 0.7em;
  line-height: 1.3;
  font-weight: 550;
}